<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544898565190-e72fe8lpka3j22qb4n1ehr5ttbhvpohq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544898565190-e72fe8lpka3j22qb4n1ehr5ttbhvpohq</string>
	<key>API_KEY</key>
	<string>AIzaSyDqguq3YtDxsGrOl_O2hPzZXJWG2jmdtEU</string>
	<key>GCM_SENDER_ID</key>
	<string>544898565190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caleb.BMI</string>
	<key>PROJECT_ID</key>
	<string>bmiadmob-40982</string>
	<key>STORAGE_BUCKET</key>
	<string>bmiadmob-40982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544898565190:ios:463acd6bff74586f703647</string>
</dict>
</plist>